body {
  margin: 0;
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

.Topbanner{
  background-color: rgb(25, 40, 124);
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 20px;
}

.Topbanner a{
  text-decoration: none;
  margin: 10px; 
  color: #ffffff;
}

button{
  align-items: center;
  text-align: center;
}


button a {
  text-decoration: none;
  color: #000000;
}


.game {
  border: 2px solid black;
  padding: 16px;
  width: 230px;
  font-size: 16px;
  list-style: none;
  text-align: center;
  margin: 25px auto;
  background-color: #668aff;
}

.bar{
  font-size: 20px;
  margin: 25px;
  display: grid;
  gap: 10px;
  padding: 20px;
  text-align: center;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
}

.bar a{
  color: #000000;
  text-decoration: none;  
  margin: 10px;
  margin: 0 10px;
}

.bar div {
  padding: 20px;
  border: 2px solid black;
  margin: 5px auto;
  width: 250px;
  background-color: #668aff;
}

.search{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;

}

.gameheader{
  text-align: center;
  font-size: 18px;
}


.communityui{
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  padding: 16px;
  list-style: none;
  background-color: #668aff;
  margin: 25px auto;
  width: 250px;
}

.loginbar{
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  width: 250px;
  margin: 25px auto;
  font-size: 16px;
  border: 1px solid #000000;
}


.loginbar input[type="text"],
.loginbar input[type="password"] {
  width: 160px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
}

.loginbar input[type="checkbox"] {
  margin-right: 10px;
}

.loginbar label {
  display: flex;
  align-items: center;
  margin: 10px 0
}

.loginbar label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.gamenew{
  border: 2px solid black;
  padding: 16px;
  width: 300px;
  font-size: 16px;
  text-align: left;
  margin: 25px auto;
  background-color: #668aff;
}

.gamenew h4{
  text-align: center;
}